@import "src/style/variables";
@import "~bootstrap/scss/mixins";

.left-part {
  width: 33%;
}

.right-part {
  width: 33%;
}

.center-part {
  @include media-breakpoint-only('lg') {
    img {
      width: 90%;
    }
  }
}

app-newsletter-form {
  margin-left: -50%;
}

:host::ng-deep app-legal-links #legal-links {
  @include media-breakpoint-only('xl') {
    margin-left: 45%;
  }

  @include media-breakpoint-only('lg') {
    margin-left: 35%;
  }
}
