<nav
  id="header"
  class="navbar navbar-expand-md navbar-light d-flex justify-content-center align-items-center"
  [ngClass]="{'dot-expanded': isDotExpanded}"
>

  <!-- Metta logo -->
  <span class="header-left-part">
    <a class="navbar-brand pt-0" href="/">
      <img src="assets/metta-logo-dark.svg" alt="Metta logo">
    </a>
  </span>

  <!-- Dot menu -->
  <span *ngIf="hasDot" class="header-center-part">
    <app-dot-toggle (toggleDot)="onToggleDot()"></app-dot-toggle>
  </span>

  <!-- Navbar menu - Desktop only -->
  <span *ngIf="hasNavbarMenu" class="header-right-part d-none d-lg-block">
    <app-navbar-menu></app-navbar-menu>
  </span>

  <!-- Link to cart - Mobile only -->
  <span *ngIf="hasLinkToCart" class="header-right-part d-lg-none">
    <a class="cart-link" href="https://door.metta-garment.com/cart/">CART</a>
  </span>

</nav>
