@import "src/style/colors";
@import "src/style/typography";

// TODO adapt the header sizes/fonts/positions to mobile view

.navbar {
  height: 65px;
}

.header-left-part {
  position: absolute;
  left: 52px;
}

.header-right-part {
  position: absolute;
  right: 52px;
}

.cart-link {
  @extend .typo-cart-link;;
  text-decoration: none;
  color: $text-primary-color !important;

  &:hover, &:focus {
    color: $sunny-gold !important;
  }
}
