<nav id="header" class="navbar navbar-expand-md navbar-light d-flex justify-content-center align-items-center">

  <!-- Metta logo -->
  <span class="header-left-part">
    <a class="navbar-brand" title="Go to Metta Clothing homepage" href="#">
      <img src="assets/metta-logo-dark.svg" alt="Metta logo">
    </a>
  </span>

  <!-- Dot menu -->
  <span *ngIf="hasDot" class="header-center-part">
    <app-dot (toggleDot)="onToggleDot($event)"></app-dot>
  </span>

  <!-- Navbar menu -->
  <span *ngIf="hasNavbarMenu" class="header-right-part">
    <app-navbar-menu></app-navbar-menu>
  </span>

</nav>
