<ul class="navbar-nav d-flex align-items-center">

  <!-- Nav group: Philosophy -->
  <li class="nav-item mr-4" ngbDropdown id="philosophy-dropdown" #philosophyDropdown="ngbDropdown">
    <a class="nav-link title no-dropdown-arrow py-0" ngbDropdownAnchor id="philosophy-toggle" role="button"
       (mouseenter)="onMenuEnter(philosophyDropdown, $event, 'philosophy-dropdown')"
       (mouseleave)="onMenuLeave(philosophyDropdown, $event, 'philosophy-dropdown')">
      PHILOSOPHY
    </a>
    <div class="menu-content" ngbDropdownMenu aria-labelledby="philosophy-toggle"
         (mouseleave)="onMenuLeave(philosophyDropdown, $event, 'philosophy-dropdown')">
      <a class="menu-item" ngbDropdownItem href="https://door.metta-garment.com/the-principle-of-metta/">The Principle of Mettä</a>
      <a class="menu-item" ngbDropdownItem href="https://door.metta-garment.com/metaphorical-garment/">Metaphorical Garment</a>
    </div>
  </li>

  <!-- Nav group: Garment -->
  <li class="nav-item" ngbDropdown id="garment-dropdown" #garmentDropdown="ngbDropdown">
    <a class="nav-link title no-dropdown-arrow py-0" ngbDropdownAnchor id="garment-toggle" role="button"
       (mouseenter)="onMenuEnter(garmentDropdown, $event, 'garment-dropdown')"
       (mouseleave)="onMenuLeave(garmentDropdown, $event, 'garment-dropdown')">
      GARMENT
    </a>
    <div class="menu-content dropdown-menu-right text-right" ngbDropdownMenu aria-labelledby="garment-toggle"
         (mouseleave)="onMenuLeave(garmentDropdown, $event, 'garment-dropdown')">
      <a class="menu-item" ngbDropdownItem href="https://door.metta-garment.com/the-life-garment/">The Life Garment</a>
      <a class="menu-item" ngbDropdownItem href="https://door.metta-garment.com/the-essence-garment/">The Essence Garment</a>
    </div>
  </li>

</ul>
