<ul class="navbar-nav">

  <!-- Nav group: Philosophy -->
  <li class="nav-item" ngbDropdown id="philosophy-dropdown" #philosophyDropdown="ngbDropdown">
    <a class="nav-link title no-dropdown-arrow" ngbDropdownAnchor id="philosophy-toggle" role="button"
       (mouseenter)="onMenuEnter(philosophyDropdown, $event, 'philosophy-dropdown')"
       (mouseleave)="onMenuLeave(philosophyDropdown, $event, 'philosophy-dropdown')">
      PHILOSOPHY
    </a>
    <div class="menu-content" ngbDropdownMenu aria-labelledby="philosophy-toggle"
         (mouseleave)="onMenuLeave(philosophyDropdown, $event, 'philosophy-dropdown')">
      <a class="menu-item" ngbDropdownItem href="#">Les 7 Cieux</a>
      <a class="menu-item" ngbDropdownItem href="#">The Mettägony</a>
      <a class="menu-item" ngbDropdownItem href="#">Metaphorical Clothing</a>
    </div>
  </li>

  <!-- Nav group: Garment -->
  <li class="nav-item" ngbDropdown id="garment-dropdown" #garmentDropdown="ngbDropdown">
    <a class="nav-link title no-dropdown-arrow" ngbDropdownAnchor id="garment-toggle" role="button"
       (mouseenter)="onMenuEnter(garmentDropdown, $event, 'garment-dropdown')"
       (mouseleave)="onMenuLeave(garmentDropdown, $event, 'garment-dropdown')">
      GARMENT
    </a>
    <div class="menu-content dropdown-menu-right text-right" ngbDropdownMenu aria-labelledby="garment-toggle"
         (mouseleave)="onMenuLeave(garmentDropdown, $event, 'garment-dropdown')">
      <a class="menu-item" ngbDropdownItem href="#">Sweaters and Wooden Boxes</a>
      <a class="menu-item" ngbDropdownItem href="#">Printed T-shirts</a>
    </div>
  </li>

</ul>
