@import "src/style/typography";

.title {
  @extend .typo-nav-menu-title;
  color: $text-primary-color !important;

  &:hover {
    color: $sunny-gold !important;
  }
}

.menu-content {
  background: none;
  border: none;
  margin-top: 0;
}

.menu-item {
  @extend .typo-nav-menu-item;
  color: $text-primary-color !important;
  padding: 8px;
  background: none;
}
