<div id="contact-links">

  <!-- Email link -->
  <p id="email-link">
    <a class="contact-link" href="mailto:CONTACT@METTA-GARMENT.COM">CONTACT@METTA-GARMENT.COM</a>
  </p>

  <!-- Social networks links -->
  <p id="social-networks-links" *ngIf="showSocialNetworkLinks">
    <a class="contact-link" href="https://www.instagram.com/metta.garment/">INSTAGRAM</a><br>
    <a class="contact-link" href="https://www.pinterest.fr/4dechiffre/">PINTEREST</a><br>
    <a class="contact-link" href="https://www.youtube.com/@metta-garment">YOUTUBE</a>
  </p>

</div>
