<div id="tree-wrapper" class="d-flex justify-content-center">

  <!-- Sun -->
  <div id="sun">
    <img src="assets/sun-light.svg" alt="Image: the sun">
    <!-- Sun product -->
    <div id="sun-product" *ngIf="sunProduct">
      <app-product-overview [product]="sunProduct" [isSunProduct]="true"></app-product-overview>
    </div>
  </div>

  <!-- Products tree -->
  <div id="tree">
    <img src="assets/tree/tree-plus-chains-plus-texts-dark.svg" alt="Our tree of products">
  </div>

  <!-- Moon -->
  <div id="moon">
    <img src="assets/moon-light.svg" alt="Image: the moon">
    <!-- Moon product -->
    <div id="moon-product" *ngIf="moonProduct">
      <app-product-overview [product]="moonProduct" [isSunProduct]="false"></app-product-overview>
    </div>
  </div>

  <!-- Leaves -->
  <div id="leaf-001" class="leaf" tabindex="0" (click)="showSunProduct('001')" (mouseenter)="showSunProduct('001')"></div>
  <div id="leaf-001prime" class="leaf" tabindex="0" (click)="showSunProduct('001prime')" (mouseenter)="showSunProduct('001prime')"></div>
  <div id="leaf-002" class="leaf" tabindex="0" (click)="showMoonProduct('002')" (mouseenter)="showMoonProduct('002')"></div>
  <div id="leaf-002prime" class="leaf" tabindex="0" (click)="showMoonProduct('002prime')" (mouseenter)="showMoonProduct('002prime')"></div>
  <div id="leaf-003" class="leaf" tabindex="0" (click)="showSunProduct('003')" (mouseenter)="showSunProduct('003')"></div>
  <div id="leaf-003prime" class="leaf" tabindex="0" (click)="showSunProduct('003prime')" (mouseenter)="showSunProduct('003prime')"></div>
  <div id="leaf-004" class="leaf" tabindex="0" (click)="showMoonProduct('004')" (mouseenter)="showMoonProduct('004')"></div>
  <div id="leaf-004prime" class="leaf" tabindex="0" (click)="showMoonProduct('004prime')" (mouseenter)="showMoonProduct('004prime')"></div>
  <div id="leaf-005" class="leaf" tabindex="0" (click)="showSunProduct('005')" (mouseenter)="showSunProduct('005')"></div>
  <div id="leaf-005prime" class="leaf" tabindex="0" (click)="showSunProduct('005prime')" (mouseenter)="showSunProduct('005prime')"></div>
  <div id="leaf-006" class="leaf" tabindex="0" (click)="showMoonProduct('006')" (mouseenter)="showMoonProduct('006')"></div>
  <div id="leaf-006prime" class="leaf" tabindex="0" (click)="showMoonProduct('006prime')" (mouseenter)="showMoonProduct('006prime')"></div>
  <div id="leaf-007" class="leaf" tabindex="0" (click)="showSunProduct('007')" (mouseenter)="showSunProduct('007')"></div>
  <div id="leaf-007prime" class="leaf" tabindex="0" (click)="showSunProduct('007prime')" (mouseenter)="showSunProduct('007prime')"></div>

</div>
