// TODO handle screens for which width < 1300px (tree 1100 + sun 110 + moon 90)

#sun {
  margin-left: 67px; // Center the tree (part 1)
  margin-top: 72px;
}

#moon {
  margin-right: 67px; // Center the tree (part 2)
  margin-left: -67px; // Center the tree (part 3)
  margin-top: 93px;
}

#sun-product {
  margin-left: -70px;
  margin-top: 90px;
}

#moon-product {
  margin-left: -44px;
  margin-top: 116px;
}

.leaf {
  position: absolute;
  cursor: pointer;
}

/*
 * Leaves images, sizes and positioning (for normal and hover states)
 */

#leaf-001 {
  margin-top: 475px;
  margin-left: -56px;
  background: url("../../assets/tree/leaves/leaf-001-dark.svg") no-repeat;
  width: 52px;
  height: 26px;

  &:hover {
    margin-top: 473px;
    margin-left: -58px;
    background: url("../../assets/tree/leaves/leaf-001-light.svg") no-repeat;
    width: 57px;
    height: 30px;
  }
}

#leaf-001prime {
  margin-top: 477px;
  margin-left: 42px;
  background: url("../../assets/tree/leaves/leaf-001prime-light.svg") no-repeat;
  width: 36px;
  height: 57px;

  &:hover {
    margin-top: 481px;
    margin-left: 44px;
    background: url("../../assets/tree/leaves/leaf-001prime-dark.svg") no-repeat;
    width: 34px;
    height: 53px;
  }
}

#leaf-002 {
  margin-top: 287px;
  margin-left: 167px;
  background: url("../../assets/tree/leaves/leaf-002-dark.svg") no-repeat;
  width: 26px;
  height: 59px;

  &:hover {
    margin-top: 285px;
    margin-left: 167px;
    background: url("../../assets/tree/leaves/leaf-002-light.svg") no-repeat;
    width: 30px;
    height: 63px;
  }
}


#leaf-002prime {
  margin-top: 325px;
  margin-left: 88px;
  background: url("../../assets/tree/leaves/leaf-002prime-light.svg") no-repeat;
  width: 30px;
  height: 59px;

  &:hover {
    margin-top: 327px;
    margin-left: 88px;
    background: url("../../assets/tree/leaves/leaf-002prime-dark.svg") no-repeat;
    width: 26px;
    height: 53px;
  }
}
