<div id="tree-wrapper" class="d-flex justify-content-center">

  <!-- Sun block -->
  <div id="sun-block" class="d-none d-lg-flex flex-column align-items-center">
    <!-- Sun image -->
    <div id="sun-image">
      <img src="assets/sun-light.svg" alt="Image: the sun">
    </div>
    <!-- Sun product -->
    <div id="sun-product" *ngIf="sunProduct">
      <app-product-overview [product]="sunProduct" [isSunProduct]="true"></app-product-overview>
    </div>
  </div>

  <!-- Products tree -->
  <div id="tree">
    <img src="assets/tree/tree-plus-chains-minus-14-leaves-dark.svg" alt="Our tree of products">
  </div>

  <!-- Moon block -->
  <div id="moon-block" class="d-none d-lg-flex flex-column align-items-center">
    <!-- Moon image -->
    <div id="moon-image">
      <img src="assets/moon-light.svg" alt="Image: the moon">
    </div>
    <!-- Moon product -->
    <div id="moon-product" *ngIf="moonProduct">
      <app-product-overview [product]="moonProduct" [isSunProduct]="false"></app-product-overview>
    </div>
  </div>

  <!-- Text: spiritualiser le matériel, matérialiser le spirituel -->
  <div id="text-slogan" class="position-absolute">
    <img src="assets/texts/slogan-curved-dark.svg" alt="Spiritualiser le matériel, matérialiser le spirituel">
  </div>

  <!-- Text: the light -->
  <div id="text-the-light" class="position-absolute">
    <img src="assets/texts/the-light-light.svg" alt="The light">
  </div>

  <!-- Text: the center -->
  <div id="text-the-center" class="position-absolute">
    <img src="assets/texts/the-center-light.svg" alt="The center">
  </div>

  <!-- Text: look up -->
  <div id="text-look-up" class="position-absolute">
    <img src="assets/texts/look-up-small-light.svg" alt="Look up">
  </div>

  <!-- Text: Benevolance light (desktop) -->
  <div id="text-benevolance-light" class="position-absolute d-none d-lg-block">
    <img src="assets/texts/benevolance-light.svg" alt="Benevolance">
  </div>

  <!-- Text: Benevolance dark (mobile) -->
  <div id="text-benevolance-dark" class="position-absolute d-lg-none">
    <img src="assets/texts/benevolance-dark.svg" alt="Benevolance" width="90">
  </div>

  <!-- Text: Knowledge -->
  <div id="text-knowledge" class="position-absolute d-none d-lg-block">
    <img src="assets/texts/knowledge-light.svg" alt="Knowledge">
  </div>

  <!-- Leaves -->
  <div id="leaf-001" class="leaf" tabindex="0" (click)="showSunProduct('001', true)" (mouseenter)="showSunProduct('001')"></div>
  <div id="leaf-001prime" class="leaf" tabindex="0" (click)="showSunProduct('001prime', true)" (mouseenter)="showSunProduct('001prime')"></div>
  <div id="leaf-002" class="leaf" tabindex="0" (click)="showMoonProduct('002', true)" (mouseenter)="showMoonProduct('002')"></div>
  <div id="leaf-002prime" class="leaf" tabindex="0" (click)="showMoonProduct('002prime', true)" (mouseenter)="showMoonProduct('002prime')"></div>
  <div id="leaf-003" class="leaf" tabindex="0" (click)="showSunProduct('003', true)" (mouseenter)="showSunProduct('003')"></div>
  <div id="leaf-003prime" class="leaf" tabindex="0" (click)="showSunProduct('003prime', true)" (mouseenter)="showSunProduct('003prime')"></div>
  <div id="leaf-004" class="leaf" tabindex="0" (click)="showMoonProduct('004', true)" (mouseenter)="showMoonProduct('004')"></div>
  <div id="leaf-004prime" class="leaf" tabindex="0" (click)="showMoonProduct('004prime', true)" (mouseenter)="showMoonProduct('004prime')"></div>
  <div id="leaf-005" class="leaf" tabindex="0" (click)="showSunProduct('005', true)" (mouseenter)="showSunProduct('005')"></div>
  <div id="leaf-005prime" class="leaf" tabindex="0" (click)="showSunProduct('005prime', true)" (mouseenter)="showSunProduct('005prime')"></div>
  <div id="leaf-006" class="leaf" tabindex="0" (click)="showMoonProduct('006', true)" (mouseenter)="showMoonProduct('006')"></div>
  <div id="leaf-006prime" class="leaf" tabindex="0" (click)="showMoonProduct('006prime', true)" (mouseenter)="showMoonProduct('006prime')"></div>
  <div id="leaf-007" class="leaf" tabindex="0" (click)="showSunProduct('007', true)" (mouseenter)="showSunProduct('007')"></div>
  <div id="leaf-007prime" class="leaf" tabindex="0" (click)="showSunProduct('007prime', true)" (mouseenter)="showSunProduct('007prime')"></div>

</div>
