// TODO handle screens for which width < 1300px (tree 1100 + sun 110 + moon 90)

#sun {
  margin-left: 67px; // Center the tree (part 1)
  margin-top: 72px;
}

#moon {
  margin-right: 67px; // Center the tree (part 2)
  margin-left: -67px; // Center the tree (part 3)
  margin-top: 93px;
}

#sun-image {
  position: relative;
  left: -37px;
}

#moon-image {
  position: relative;
  right: 7px;
}

#sun-product {
  margin-left: -70px;
  margin-top: 90px;
}

#moon-product {
  margin-left: -44px;
  margin-top: 116px;
}

.leaf {
  position: absolute;
  cursor: pointer;
}

/*
 * Leaves images, sizes and positioning (for normal and hover states)
 */

#leaf-001 {
  margin-top: 475px;
  margin-left: -56px;
  background: url("../../assets/tree/leaves/leaf-001-dark.svg") no-repeat;
  width: 52px;
  height: 26px;

  &:hover {
    margin-top: 473px;
    margin-left: -58px;
    background: url("../../assets/tree/leaves/leaf-001-light.svg") no-repeat;
    width: 57px;
    height: 30px;
  }
}

#leaf-001prime {
  margin-top: 477px;
  margin-left: 42px;
  background: url("../../assets/tree/leaves/leaf-001prime-light.svg") no-repeat;
  width: 36px;
  height: 57px;

  &:hover {
    margin-top: 481px;
    margin-left: 44px;
    background: url("../../assets/tree/leaves/leaf-001prime-dark.svg") no-repeat;
    width: 34px;
    height: 53px;
  }
}

#leaf-002 {
  margin-top: 287px;
  margin-left: 167px;
  background: url("../../assets/tree/leaves/leaf-002-dark.svg") no-repeat;
  width: 26px;
  height: 59px;

  &:hover {
    margin-top: 285px;
    margin-left: 167px;
    background: url("../../assets/tree/leaves/leaf-002-light.svg") no-repeat;
    width: 30px;
    height: 63px;
  }
}

#leaf-002prime {
  margin-top: 325px;
  margin-left: 88px;
  background: url("../../assets/tree/leaves/leaf-002prime-light.svg") no-repeat;
  width: 30px;
  height: 59px;

  &:hover {
    margin-top: 327px;
    margin-left: 88px;
    background: url("../../assets/tree/leaves/leaf-002prime-dark.svg") no-repeat;
    width: 26px;
    height: 53px;
  }
}

#leaf-003 {
  margin-top: 352px;
  margin-left: -334px;
  background: url("../../assets/tree/leaves/leaf-003-dark.svg") no-repeat;
  width: 27px;
  height: 50px;

  &:hover {
    margin-top: 350px;
    margin-left: -334px;
    background: url("../../assets/tree/leaves/leaf-003-light.svg") no-repeat;
    width: 31px;
    height: 57px;
  }
}

#leaf-003prime {
  margin-top: 388px;
  margin-left: -271px;
  background: url("../../assets/tree/leaves/leaf-003prime-light.svg") no-repeat;
  width: 52px;
  height: 56px;

  &:hover {
    margin-top: 388px;
    margin-left: -270px;
    background: url("../../assets/tree/leaves/leaf-003prime-dark.svg") no-repeat;
    width: 47px;
    height: 54px;
  }
}

#leaf-004 {
  margin-top: 469px;
  margin-left: 479px;
  background: url("../../assets/tree/leaves/leaf-004-dark.svg") no-repeat;
  width: 42px;
  height: 34px;

  &:hover {
    margin-top: 467px;
    margin-left: 479px;
    background: url("../../assets/tree/leaves/leaf-004-light.svg") no-repeat;
    width: 47px;
    height: 37px;
  }
}

#leaf-004prime {
  margin-top: 447px;
  margin-left: 247px;
  background: url("../../assets/tree/leaves/leaf-004prime-light.svg") no-repeat;
  width: 37px;
  height: 53px;

  &:hover {
    margin-top: 449px;
    margin-left: 247px;
    background: url("../../assets/tree/leaves/leaf-004prime-dark.svg") no-repeat;
    width: 33px;
    height: 49px;
  }
}

#leaf-005 {
  margin-top: 560px;
  margin-left: -413px;
  background: url("../../assets/tree/leaves/leaf-005-dark.svg") no-repeat;
  width: 48px;
  height: 30px;

  &:hover {
    margin-top: 558px;
    margin-left: -410px;
    background: url("../../assets/tree/leaves/leaf-005-light.svg") no-repeat;
    width: 51px;
    height: 34px;
  }
}

#leaf-005prime {
  margin-top: 595px;
  margin-left: -207px;
  background: url("../../assets/tree/leaves/leaf-005prime-light.svg") no-repeat;
  width: 48px;
  height: 33px;

  &:hover {
    margin-top: 597px;
    margin-left: -207px;
    background: url("../../assets/tree/leaves/leaf-005prime-dark.svg") no-repeat;
    width: 44px;
    height: 29px;
  }
}

#leaf-006 {
  margin-top: 595px;
  margin-left: 422px;
  background: url("../../assets/tree/leaves/leaf-006-dark.svg") no-repeat;
  width: 30px;
  height: 51px;

  &:hover {
    margin-top: 593px;
    margin-left: 422px;
    background: url("../../assets/tree/leaves/leaf-006-light.svg") no-repeat;
    width: 34px;
    height: 58px;
  }
}

#leaf-006prime {
  margin-top: 609px;
  margin-left: 360px;
  background: url("../../assets/tree/leaves/leaf-006prime-light.svg") no-repeat;
  width: 29px;
  height: 52px;

  &:hover {
    margin-top: 611px;
    margin-left: 360px;
    background: url("../../assets/tree/leaves/leaf-006prime-dark.svg") no-repeat;
    width: 26px;
    height: 48px;
  }
}

#leaf-007 {
  margin-top: 723px;
  margin-left: 54px;
  background: url("../../assets/tree/leaves/leaf-007-dark.svg") no-repeat;
  width: 31px;
  height: 49px;

  &:hover {
    margin-top: 721px;
    margin-left: 54px;
    background: url("../../assets/tree/leaves/leaf-007-light.svg") no-repeat;
    width: 34px;
    height: 53px;
  }
}

#leaf-007prime {
  margin-top: 659px;
  margin-left: 59px;
  background: url("../../assets/tree/leaves/leaf-007prime-light.svg") no-repeat;
  width: 34px;
  height: 48px;

  &:hover {
    margin-top: 660px;
    margin-left: 59px;
    background: url("../../assets/tree/leaves/leaf-007prime-dark.svg") no-repeat;
    width: 30px;
    height: 43px;
  }
}
