@import "src/style/colors";

.product-overview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-image img {
  width: 100vw;
}

#sun-image {
  position: absolute;
  top: 0;
  left: 0;
}

#moon-image {
  position: absolute;
  top: 0;
  left: 0;
}
