@import "src/style/colors";
@import "src/style/typography";

// Customize the form input field
:host::ng-deep mat-form-field {
  width: 174px;

  .mat-form-field-wrapper {
    @extend .typo-newsletter-form;
    cursor: text;
  }

  // Hide form field underline, except when hovering or if form is invalid
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-flex:hover ~ .mat-form-field-underline {
    display: inherit;
  }

  &.mat-form-field-invalid .mat-form-field-underline {
    display: inherit;
  }

  &.mat-focused:not(.mat-form-field-invalid) {
    .mat-form-field-label {
      color: #00000099;
    }

    .mat-form-field-ripple {
      background-color: #00000099;
    }
  }
}

.submit-button {
  @extend .typo-newsletter-form;
  background: $black;
  color: $white;
  border: none;
  padding: 6px 12px;

  &:hover {
    background: $sunny-gold-dark;
  }
}

.feedbacks {
  position: absolute;
  right: 0;

  @include media-breakpoint-down('xl') {
    right: 70px;
  }

  @include media-breakpoint-down('md') {
    right: auto;
    top: -70px;
    width: 325px;
  }
}

.success-toast {
  background: $success-color;
}

.error-toast {
  background: $error-color;
}

:host::ng-deep .toast-body {
  overflow: hidden;
  text-overflow: ellipsis;
}
