<div id="dot-menu" class="mb-5">

  <!-- Submenu: Philosophy -->
  <div class="submenu">
    <!-- Submenu toggle -->
    <div class="submenu-toggle menu-title d-flex justify-content-between align-items-center" (click)="togglePhilosophyMenu()">
      <span id="philosophy-label">PHILOSOPHY</span>
      <span class="submenu-toggle-icon" *ngIf="philosophyMenuExpanded">-</span>
      <span class="submenu-toggle-icon" *ngIf="!philosophyMenuExpanded">+</span>
    </div>
    <!-- Submenu content -->
    <div class="mt-2 mb-4 ml-2 text-left" *ngIf="philosophyMenuExpanded">
      <a class="menu-item" href="https://door.metta-garment.com/the-principle-of-metta/">
        <div>The Principle of Mettä</div>
      </a>
      <a class="menu-item" href="https://door.metta-garment.com/metaphorical-garment/">
        <div>Metaphorical Garment</div>
      </a>
    </div>
  </div>

  <!-- Submenu: Garment -->
  <div class="submenu">
    <!-- Submenu toggle -->
    <div class="submenu-toggle menu-title d-flex justify-content-between align-items-center" (click)="toggleGarmentMenu()">
      <span id="garment-label">GARMENT</span>
      <span class="submenu-toggle-icon" *ngIf="garmentMenuExpanded">-</span>
      <span class="submenu-toggle-icon" *ngIf="!garmentMenuExpanded">+</span>
    </div>
    <!-- Submenu content -->
    <div class="mt-2 mb-4 mr-2 text-right" *ngIf="garmentMenuExpanded">
      <a class="menu-item" href="https://door.metta-garment.com/the-life-garment/">
        <div>The Life Garment</div>
      </a>
      <a class="menu-item" href="https://door.metta-garment.com/the-essence-garment/">
        <div>The Essence Garment</div>
      </a>
    </div>
  </div>

  <!-- Link: Instagram -->
  <a class="menu-title text-right" href="https://www.instagram.com/metta.garment/">
    <div id="instagram-label">INSTAGRAM</div>
  </a>

  <!-- Link: Pinterest -->
  <a class="menu-title text-left" href="https://www.pinterest.fr/mettagarment/">
    <div id="pinterest-label">PINTEREST</div>
  </a>

  <!-- Link: Youtube -->
  <a class="menu-title text-right" href="https://www.youtube.com/@metta-garment">
    <div id="youtube-label">YOUTUBE</div>
  </a>

</div>
