@import "src/style/typography";

.menu-title {
  @extend .typo-dot-menu-title;
}

.menu-item {
  @extend .typo-dot-menu-item;
}

.menu-title, .menu-item {
  color: $text-primary-color;
  text-decoration: none;

  &:hover {
    color: $sunny-gold;
  }
}

.submenu-toggle {
  cursor: pointer;
}

.submenu-toggle-icon {
  @extend .typo-dot-menu-toggle-icon;
  width: 22px;
  line-height: 50px;
}

// Labels positioning

#philosophy-label {
  margin-right: 140px;
}

#garment-label {
  margin-right: 109px;
}

#instagram-label {
  margin-left: 150px;
}

#pinterest-label {
  margin-right: 28px;
}

#youtube-label {
  margin-left: 109px;
}


