@import "src/style/typography";

.menu-title {
  @extend .typo-dot-menu-title;
  color: $text-secondary-color;
}

.menu-item {
  @extend .typo-dot-menu-item;
  color: $text-primary-color;
}

.menu-title, .menu-item {
  text-decoration: none;

  &:hover {
    color: $sunny-gold;
  }
}

.submenu-toggle {
  cursor: pointer;
}

.submenu-toggle-icon {
  @extend .typo-dot-menu-toggle-icon;
  width: 22px;
  margin-top: 7px;
}

// Specific labels positioning

#garment-label {
  // Align garment label with the end of philosophy label
  margin-left: 135px;

  @media all and (max-width: 900px) {
    margin-left: 111px;
  }

  @include media-breakpoint-down('sm') {
    margin-left: 96px;
  }

  @media all and (max-width: 665px) {
    margin-left: 90px;
  }

  @include media-breakpoint-down('xs') {
    margin-left: 75px;
  }

  @include media-breakpoint-down('2xs') {
    margin-left: 61px;
  }
}
