@import "src/style/variables";
@import "src/style/colors";
@import "src/style/typography";
@import "~bootstrap/scss/mixins";

.product-image img {
  background-color: $sunny-gold;
  border: 5px solid $sunny-gold;
}

.sun-product .product-info {
  transform: rotate(-90deg);
  position: relative;
  width: 250px;
  margin-top: 50%;
  text-align: right;
  top: -10px;
}

.moon-product {
  width: 160px;
}

.moon-product .product-info {
  position: relative;
  width: 240px;
  top: -140px;
  left: 170px;

  @include media-breakpoint-down('2xl') {
    top: 8px;
    left: 0;
  }

  @include media-breakpoint-down('lg') {
    width: 160px;
  }
}

.product-title {
  @extend .typo-product-title;
}

.product-subtitle {
  @extend .typo-product-subtitle;
}

.dot-separator {
  line-height: 0;
  font-size: 26px;
  padding-left: 2px;
  position: relative;
  bottom: -4px;
}

.product-name, .product-price, .product-description {
  cursor: pointer;
}
