@import "src/style/colors";
@import "src/style/typography";

// Customize the form input field
:host::ng-deep mat-form-field {
  width: 386px;

  @include media-breakpoint-down('xl') {
    width: 308px;
  }

  @include media-breakpoint-down('sm') {
    width: 248px;
  }

  .mat-form-field-wrapper {
    @extend .typo-coming-soon-newsletter-form;
    cursor: text;

    input {
      letter-spacing: 2.75px;
    }
  }

  // When a text is entered, reduce font-weight to regular
  &:not(.mat-form-field-hide-placeholder) .mat-form-field-wrapper {
    font-weight: 400;
  }

  // Hide form field underline, except when hovering or if form is invalid
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-flex:hover ~ .mat-form-field-underline {
    display: inherit;
  }

  &.mat-form-field-invalid .mat-form-field-underline {
    display: inherit;
  }

  .mat-form-field-ripple {
    height: 1px;
  }

  .mat-form-field-label, &.mat-focused:not(.mat-form-field-invalid) .mat-form-field-label {
    color: $almost-white;
  }

  .mat-form-field-underline, .mat-form-field-ripple, &.mat-focused:not(.mat-form-field-invalid) .mat-form-field-ripple {
    background-color: $almost-white;
  }

  ::placeholder {
    color: $almost-white;
    opacity: 0.5;
  }
}

.submit-button {
  @extend .typo-coming-soon-newsletter-form;
  background: $almost-white;
  color: black;
  border: none;
  padding: 2px 15px;

  &:hover {
    background: $red-light;
  }
}

.success-toast {
  background: $success-color;
}

.error-toast {
  background: $error-color;
}
