@import "src/style/colors";
@import "src/style/typography";

// Customize the form input field
:host::ng-deep mat-form-field {
  width: 314px;

  .mat-form-field-wrapper {
    @extend .typo-coming-soon-newsletter-form;
    cursor: text;

    input {
      letter-spacing: 2.75px;
    }
  }

  // Hide form field underline, except when hovering or if form is invalid
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-flex:hover ~ .mat-form-field-underline {
    display: inherit;
  }

  &.mat-form-field-invalid .mat-form-field-underline {
    display: inherit;
  }

  .mat-form-field-label, &.mat-focused:not(.mat-form-field-invalid) .mat-form-field-label {
    color: $almost-white;
  }

  .mat-form-field-underline, .mat-form-field-ripple, &.mat-focused:not(.mat-form-field-invalid) .mat-form-field-ripple {
    background-color: $almost-white;
  }

  ::placeholder {
    color: $almost-white;
    opacity: 0.5;
  }
}

.submit-button {
  @extend .typo-coming-soon-newsletter-form;
  background: $almost-white;
  color: black;
  border: none;
  padding: 2px 12px;

  &:hover {
    background: $red-light;
  }
}

.success-toast {
  background: $success-color;
}

.error-toast {
  background: $error-color;
}
