@import "src/style/colors";
@import "src/style/typography";
@import "~bootstrap/scss/mixins";

.coming-soon-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/coming-soon/coming-soon-background-large.svg") no-repeat center;
  background-size: cover;

  @include media-breakpoint-down('xl') {
    background: url("../../assets/coming-soon/coming-soon-background-medium.svg") no-repeat center;
    background-size: cover;
  }

  @include media-breakpoint-down('sm') {
    background: url("../../assets/coming-soon/coming-soon-background-small.svg") no-repeat center;
    background-size: cover;
  }

  @media all and (max-width: 380px) {
    width: 380px;
  }

  @media all and (max-height: 380px) {
    height: 380px;
  }
}

.coming-soon-page {
  width: 100vw;
  height: 100vh;

  @media all and (max-width: 380px) {
    width: 380px;
  }

  @media all and (max-height: 380px) {
    height: 380px;
  }
}

.coming-soon-dot {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);

  @media all and (max-height: 1050px) {
    top: 7%;

    img {
      transform: scale(0.8);
    }
  }

  @media all and (max-height: 900px) {
    top: 5%;
  }
}

.coming-soon-sun {
  position: absolute;
  top: 15%;
  left: 25%;

  img {
    max-height: 100%;
  }

  @include media-breakpoint-down('xs') {
    left: 15%;
  }

  @media all and (max-height: 1050px) {
    top: 10%;
    transform: scale(0.8);
  }

  @media all and (max-height: 900px) {
    top: 8%;
    transform: scale(0.7);
  }

  @media all and (max-height: 700px) {
    top: 5%;
    transform: scale(0.5);
  }
}

.coming-soon-moon {
  position: absolute;
  top: 15%;
  right: 25%;
  padding-top: 22px; // Aligning moon with sun

  img {
    max-height: 100%;
  }

  @include media-breakpoint-down('xs') {
    right: 15%;
  }

  @media all and (max-height: 1050px) {
    top: 10%;
    transform: scale(0.8);
    padding-top: 26px;
  }

  @media all and (max-height: 900px) {
    top: 8%;
    transform: scale(0.7);
    padding-top: 28px;
  }

  @media all and (max-height: 700px) {
    top: 5%;
    transform: scale(0.5);
    padding-top: 34px;
  }
}

.coming-soon-tree {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding: 175px 20px 60px 20px;

  img {
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
  }

  @media all and (max-height: 700px) {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  @media all and (max-height: 500px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.dropping-leaf {
  display: flex;
  align-items: flex-end;
  height: 300px;
  width: 43px;
  filter: drop-shadow(0px 0px 18px #fff);
  position: absolute;
  z-index: 1;

  img {
    width: 100%;
  }

  @media all and (max-width: 500px) {
    height: 50px;
    width: 36px;
  }

  @media all and (max-height: 800px) {
    height: 50px;
    width: 36px;
  }
}

.averroes-quote {
  position: absolute;
  left: 40px;
  right: auto;
  bottom: 80px;

  @include media-breakpoint-down('xl') {
    left: auto;
    right: 100px;
    bottom: 160px;
  }

  @include media-breakpoint-down('lg') {
    left: auto;
    right: 50px;
    bottom: 90px;
  }

  @include media-breakpoint-down('md') {
    left: 6px;
    right: auto;
    height: 100%;
    bottom: 50%;
    transform: translateY(50%);

    img {
      height: 500px;
      max-height: 55%;
    }
  }

  @media all and (max-height: 500px) {
    img {
      transform: scale(0.7);
    }
  }
}

.coming-soon-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  z-index: 1;

  @media all and (max-width: 380px) {
    width: 380px;
  }

  @media all and (max-height: 380px) {
    height: 380px;
  }
}

.coming-soon-content {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 2;
  color: $almost-white;
  padding: 120px 20px 80px 20px;

  @media all and (max-height: 700px) {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @media all and (max-height: 500px) {
    padding-top: 90px;
    padding-bottom: 60px;

    p {
      margin-bottom: 12px;
    }
  }

  @media all and (max-width: 380px) {
    width: 380px;
  }
}

.door-symbol {
  img {
    height: 100%;
  }

  @media all and (max-height: 800px) {
    margin-bottom: 30px !important;
    height: 150px;
  }
}

.coming-soon-text {
  text-align: justify;
  width: 500px;

  @include media-breakpoint-down('xl') {
    width: 419px;
  }

  @include media-breakpoint-down('sm') {
    width: 350px;
  }
}

.coming-soon-quote {
  @extend .typo-coming-soon-quote;
}

.coming-soon-presentation {
  @extend .typo-coming-soon-presentation;

  .circled-r {
    margin: 2px 2px 0 1px;

    @include media-breakpoint-down('xl') {
      width: 11px;
    }

    @include media-breakpoint-down('sm') {
      width: 10px;
    }
  }
}
