@import "src/style/variables";
@import "~bootstrap/scss/mixins";

:host {
  @include media-breakpoint-only('sm') {
    height: 729px;
  }

  @include media-breakpoint-down('xs') {
    height: 601px;
  }
}

#tree-wrapper {
  @include media-breakpoint-only('sm') {
    transform: scale(0.91);
    margin-top: -36px; // = (801 (original tree height) - 729) / 2
  }

  @include media-breakpoint-down('xs') {
    transform: scale(0.75);
    margin-top: -100px; // = 801 (original tree height) - 601) / 2
  }
}

#tree {
  margin-left: 30px; // Center tree
  padding: 0 230px;

  @include media-breakpoint-only('3xl') {
    padding: 0 160px;
  }

  @include media-breakpoint-only('2xl') {
    padding: 0 170px;
  }

  @include media-breakpoint-only('xl') {
    padding: 0 50px;
  }

  @include media-breakpoint-only('lg') {
    padding: 0 10px;
  }

  @include media-breakpoint-down('md') {
    padding: 0;
  }
}

#sun-block {
  width: 170px;
  margin-top: 72px;

  @include media-breakpoint-only('lg') {
    position: absolute;
    left: 30px;
  }
}

#sun-product {
  margin-top: 92px;
}

#moon-block {
  width: 170px;
  margin-top: 93px;

  @include media-breakpoint-only('lg') {
    position: absolute;
    right: 30px;
  }
}

#moon-product {
  margin-top: 120px;
}

#text-slogan {
  margin-top: 155px;

  @include media-breakpoint-down('lg') {
    margin-top: 180px;

    img {
      width: 520px;
    }
  }
}

#text-the-light {
  margin-top: 105px;
  transform: translateX(-320px);

  @include media-breakpoint-only('xl') {
    transform: translateX(-221.5px);
  }

  @include media-breakpoint-only('lg') {
    transform: translateX(-182.5px);
  }

  @include media-breakpoint-down('md') {
    margin-top: 125px;
    transform: translateX(-153px);
  }
}

#text-the-center {
  margin-top: 105px;
  transform: translateX(335px);

  @include media-breakpoint-only('xl') {
    transform: translateX(231px);
  }

  @include media-breakpoint-only('lg') {
    transform: translateX(192.5px);
  }

  @include media-breakpoint-down('md') {
    margin-top: 125px;
    transform: translateX(157px);
  }
}

#text-look-up {
  margin-top: 362px;
  margin-left: -954px;

  @include media-breakpoint-only('3xl') {
    margin-left: -814px;
  }

  @include media-breakpoint-only('2xl') {
    margin-left: -832px;
  }

  @include media-breakpoint-only('xl') {
    margin-left: -592px;
  }

  @include media-breakpoint-only('lg') {
    margin-left: -514px;
  }

  @include media-breakpoint-down('md') {
    margin-top: 300px;
    margin-left: 0;
    left: 10px;
  }

  @include media-breakpoint-down('sm') {
    left: -25px;
  }
}

#text-benevolance-light { // Desktop
  margin-top: 494px;
  margin-left: 985px;

  @include media-breakpoint-only('3xl') {
    margin-left: 845px;
  }

  @include media-breakpoint-only('2xl') {
    margin-top: 747px;
    margin-left: 864px;
  }

  @include media-breakpoint-only('xl') {
    margin-top: 747px;
    margin-left: 600px;
  }

  @include media-breakpoint-only('lg') {
    margin-top: 735px;
    margin-left: 522px;
  }
}

#text-benevolance-dark { // Mobile
  margin-top: 547px;
  right: 10px;

  @include media-breakpoint-down('sm') {
    right: -30px;
  }
}

#text-knowledge { // Desktop
  margin-top: 573px;
  margin-left: 479px;
}

.leaf {
  position: absolute;

  &.is-available {
    cursor: pointer;
  }
}

/*
* Leaves images, sizes and positioning (for normal and hover states)
*/

#leaf-001.is-available {
  margin-top: 475px;
  transform: translateX(-28px);
  background: url("../../assets/tree/leaves/leaf-001-dark.svg") no-repeat;
  width: 52px;
  height: 26px;

  &:hover {
    margin-top: 473px;
    transform: translateX(-29px);
    background: url("../../assets/tree/leaves/leaf-001-light.svg") no-repeat;
    width: 57px;
    height: 30px;
  }
}

#leaf-001prime.is-available {
  margin-top: 477px;
  transform: translateX(21px);
  background: url("../../assets/tree/leaves/leaf-001prime-light.svg") no-repeat;
  width: 36px;
  height: 57px;

  &:hover {
    margin-top: 481px;
    transform: translateX(22px);
    background: url("../../assets/tree/leaves/leaf-001prime-dark.svg") no-repeat;
    width: 34px;
    height: 53px;
  }
}

#leaf-002.is-available {
  margin-top: 287px;
  transform: translateX(83.5px);
  background: url("../../assets/tree/leaves/leaf-002-dark.svg") no-repeat;
  width: 26px;
  height: 59px;

  &:hover {
    margin-top: 285px;
    transform: translateX(83.5px);
    background: url("../../assets/tree/leaves/leaf-002-light.svg") no-repeat;
    width: 30px;
    height: 63px;
  }
}

#leaf-002prime.is-available {
  margin-top: 325px;
  transform: translateX(44px);
  background: url("../../assets/tree/leaves/leaf-002prime-light.svg") no-repeat;
  width: 30px;
  height: 59px;

  &:hover {
    margin-top: 327px;
    transform: translateX(44px);
    background: url("../../assets/tree/leaves/leaf-002prime-dark.svg") no-repeat;
    width: 26px;
    height: 53px;
  }
}

#leaf-003.is-available {
  margin-top: 352px;
  transform: translateX(-167px);
  background: url("../../assets/tree/leaves/leaf-003-dark.svg") no-repeat;
  width: 27px;
  height: 50px;

  &:hover {
    margin-top: 350px;
    transform: translateX(-167px);
    background: url("../../assets/tree/leaves/leaf-003-light.svg") no-repeat;
    width: 31px;
    height: 57px;
  }
}

#leaf-003prime.is-available {
  margin-top: 388px;
  transform: translateX(-135.5px);
  background: url("../../assets/tree/leaves/leaf-003prime-light.svg") no-repeat;
  width: 52px;
  height: 56px;

  &:hover {
    margin-top: 388px;
    transform: translateX(-135px);
    background: url("../../assets/tree/leaves/leaf-003prime-dark.svg") no-repeat;
    width: 47px;
    height: 54px;
  }
}

#leaf-004.is-available {
  margin-top: 469px;
  transform: translateX(239.5px);
  background: url("../../assets/tree/leaves/leaf-004-dark.svg") no-repeat;
  width: 42px;
  height: 34px;

  &:hover {
    margin-top: 467px;
    transform: translateX(239.5px);
    background: url("../../assets/tree/leaves/leaf-004-light.svg") no-repeat;
    width: 47px;
    height: 37px;
  }
}

#leaf-004prime.is-available {
  margin-top: 447px;
  transform: translateX(123.5px);
  background: url("../../assets/tree/leaves/leaf-004prime-light.svg") no-repeat;
  width: 37px;
  height: 53px;

  &:hover {
    margin-top: 449px;
    transform: translateX(123.5px);
    background: url("../../assets/tree/leaves/leaf-004prime-dark.svg") no-repeat;
    width: 33px;
    height: 49px;
  }
}

#leaf-005.is-available {
  margin-top: 560px;
  transform: translateX(-206.5px);
  background: url("../../assets/tree/leaves/leaf-005-dark.svg") no-repeat;
  width: 48px;
  height: 30px;

  &:hover {
    margin-top: 558px;
    transform: translateX(-205px);
    background: url("../../assets/tree/leaves/leaf-005-light.svg") no-repeat;
    width: 51px;
    height: 34px;
  }
}

#leaf-005prime.is-available {
  margin-top: 595px;
  transform: translateX(-103.5px);
  background: url("../../assets/tree/leaves/leaf-005prime-light.svg") no-repeat;
  width: 48px;
  height: 33px;

  &:hover {
    margin-top: 597px;
    transform: translateX(-103.5px);
    background: url("../../assets/tree/leaves/leaf-005prime-dark.svg") no-repeat;
    width: 44px;
    height: 29px;
  }
}

#leaf-006.is-available {
  margin-top: 595px;
  transform: translateX(211px);
  background: url("../../assets/tree/leaves/leaf-006-dark.svg") no-repeat;
  width: 30px;
  height: 51px;

  &:hover {
    margin-top: 593px;
    transform: translateX(211px);
    background: url("../../assets/tree/leaves/leaf-006-light.svg") no-repeat;
    width: 34px;
    height: 58px;
  }
}

#leaf-006prime.is-available {
  margin-top: 609px;
  transform: translateX(180px);
  background: url("../../assets/tree/leaves/leaf-006prime-light.svg") no-repeat;
  width: 29px;
  height: 52px;

  &:hover {
    margin-top: 611px;
    transform: translateX(180px);
    background: url("../../assets/tree/leaves/leaf-006prime-dark.svg") no-repeat;
    width: 26px;
    height: 48px;
  }
}

#leaf-007.is-available {
  margin-top: 723px;
  transform: translateX(27px);
  background: url("../../assets/tree/leaves/leaf-007-dark.svg") no-repeat;
  width: 31px;
  height: 49px;

  &:hover {
    margin-top: 721px;
    transform: translateX(27px);
    background: url("../../assets/tree/leaves/leaf-007-light.svg") no-repeat;
    width: 34px;
    height: 53px;
  }
}

#leaf-007prime.is-available {
  margin-top: 659px;
  transform: translateX(29.5px);
  background: url("../../assets/tree/leaves/leaf-007prime-light.svg") no-repeat;
  width: 34px;
  height: 48px;

  &:hover {
    margin-top: 660px;
    transform: translateX(29.5px);
    background: url("../../assets/tree/leaves/leaf-007prime-dark.svg") no-repeat;
    width: 30px;
    height: 43px;
  }
}
