@import "variables";

// Colors definition
$black: #000000;
$blackish: #0a0a00;
$noctural-green: #112f25;
$red: #5f0100;
$red-light: #fae2dc;
$sunny-gold-dark: #bdad60;
$sunny-gold: #d4c36c;
$sunny-gold-light: #dcce87;
$cream: #fcf7ef;
$almost-white: #fbf7f0;
$whitish: #fcfcfa;
$white: #fffffd;

// Theme colors
$dot-color: $blackish;
$text-primary-color: $black;
$text-secondary-color: $noctural-green;
$background-plain-color: $whitish;
$background-gradient: linear-gradient(90deg, $cream 0%, $sunny-gold-light 100%);
$success-color: $noctural-green;
$error-color: $red;
