@import "variables";

// Colors definition
$noctural-green: #112f25;
$noctural-green-light: #2a755c;
$sunny-gold: #d4c36c;
$sunny-gold-light: #dcce87;
$cream: #fcf7ef;
$white: #fffffd;

// Theme colors
$text-primary-color: $noctural-green;
$text-secondary-color: $noctural-green-light;
$background-plain-color: $white;
$background-gradient: linear-gradient(90deg, $cream 0%, $sunny-gold-light 100%);
