/*
 * Exposing custom fonts in CSS classes
 */

.font-family-respira {
  font-family: 'Respira', sans-serif;
}

.font-family-apoc-revelations {
  font-family: 'Apoc Revelations', sans-serif;
}

.font-family-be-vietnam {
  font-family: 'BeVietnam', sans-serif;
}

/*
 * Font face: Respira
 */

@font-face {
  font-family: "Respira";
  src: url("../../src/assets/fonts/Respira/Respira-Black.ttf") format("truetype"),
  url("../../src/assets/fonts/Respira/Respira-Black.otf") format("opentype");
}

/*
 * Font face: Apoc Revelations
 */

@font-face {
  font-family: "Apoc Revelations";
  src: url("../../src/assets/fonts/ApocRevelations/Apoc-Revelations.woff2") format("woff2"),
  url("../../src/assets/fonts/ApocRevelations/Apoc-Revelations.woff") format("woff"),
  url("../../src/assets/fonts/ApocRevelations/Apoc-Revelations.otf") format("opentype"),
  url("../../src/assets/fonts/ApocRevelations/Apoc-Revelations.eot") format("embedded-opentype");
}

/*
 * Font face: BeVietnam
 */

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-Thin.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-ThinItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../../src/assets/fonts/BeVietnam/BeVietnam-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
