@import "fonts";
@import "colors";

.typo-main {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.25px;
}

.typo-dot-menu-title {
  @extend .font-family-apoc-revelations;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1.5px;
}

.typo-dot-menu-item {
  @extend .font-family-apoc-revelations;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.25em;
  letter-spacing: 1.5px;
}

.typo-nav-menu-title {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 1.25px;
}

.typo-nav-menu-item {
  @extend .font-family-apoc-revelations;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.87em;
  letter-spacing: 0.1px;
}

.typo-footer {
  @extend .font-family-be-vietnam;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 1.5px;
}

.typo-footer-link {
  @extend .font-family-be-vietnam;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 1.5px;
}

.typo-newsletter-form {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 1.5px;
}
