@import "fonts";
@import "colors";
@import "~bootstrap/scss/mixins";

.typo-main {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.25px;

  @include media-breakpoint-down(md) {
    font-size: 12.65px;
  }
}

.typo-dot-menu-title {
  @extend .font-family-apoc-revelations;
  font-weight: 400;
  font-size: 77px;
  letter-spacing: 20px;
  line-height: 1.15;

  @media all and (max-width: 900px) {
    font-size: 75px;
    letter-spacing: 10px;
    line-height: 1.08;
  }

  @include media-breakpoint-down('sm') {
    font-size: 67px;
    letter-spacing: 7px;
    line-height: 1.05;
  }

  @media all and (max-width: 665px) {
    font-size: 62px;
    letter-spacing: 7px;
    line-height: 1;
  }

  @include media-breakpoint-down('xs') {
    font-size: 54px;
    letter-spacing: 4px;
    line-height: 1;
  }

  @include media-breakpoint-down('2xs') {
    font-size: 50px;
    letter-spacing: 0;
    line-height: 0.95;
  }
}

.typo-dot-menu-item {
  @extend .font-family-be-vietnam;
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.1px;
}

.typo-dot-menu-toggle-icon {
  @extend .font-family-respira;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.94em;
  letter-spacing: 0;
}

.typo-nav-menu-title {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1.25px;
}

.typo-nav-menu-item {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.87em;
  letter-spacing: 0.1px;

  &:hover {
    font-weight: 500;
  }
}

.typo-product-title {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1.25px;
}

.typo-product-subtitle {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}

.typo-product-link { // Mobile only
  @extend .font-family-be-vietnam;
  font-size: 12.65px;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: 1.5px;
}

.typo-footer-text { // Used in Copyright
  @extend .font-family-be-vietnam;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 1.5px;

  @include media-breakpoint-down(md) {
    font-size: 12.65px;
  }
}

.typo-footer-link { // Contact links, legal links
  @extend .font-family-be-vietnam;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1.5px;

  @include media-breakpoint-down(md) {
    font-size: 12.65px;
  }
}

.typo-cart-link {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1.5px;

  @include media-breakpoint-down(md) {
    font-size: 12.65px;
  }
}

.typo-newsletter-form {
  @extend .font-family-be-vietnam;
  font-size: 10px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1.5px;

  @include media-breakpoint-down(md) {
    font-size: 12.65px;
  }
}

.typo-admin-title {
  @extend .font-family-be-vietnam;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.25px;
}

.typo-admin-subtitle {
  @extend .font-family-be-vietnam;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.25px;
}

.typo-coming-soon-newsletter-form {
  @extend .font-family-be-vietnam;
  font-size: 14px;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 2.75px;

  @include media-breakpoint-down('xl') {
    font-size: 13px;
  }

  @include media-breakpoint-down('sm') {
    font-size: 11px;
  }
}

.typo-coming-soon-quote {
  @extend .font-family-apoc-lc;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.34px;

  @include media-breakpoint-down('xl') {
    font-size: 16px;
  }

  @include media-breakpoint-down('sm') {
    font-size: 12px;
  }
}

.typo-coming-soon-presentation {
  @extend .font-family-be-vietnam;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.34px;

  @include media-breakpoint-down('xl') {
    font-size: 14px;
  }

  @include media-breakpoint-down('sm') {
    font-size: 11px;
  }
}

.typo-hint-modal {
  @extend .font-family-be-vietnam;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 1.5px;
}
