@import "~bootstrap/scss/functions";

// Bootstrap variable overrides. They must be done before Bootstrap variables file import.

$grid-breakpoints: (
  '2xs': 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  '2xl': 1440px,
  '3xl': 1750px,
  '4xl': 1900px
);

@import "~bootstrap/scss/variables";

// Add other custom variables here


