@import "src/style/colors";
@import "src/style/typography";

.product-image {
  position: fixed;
  width: 100%;
  height: calc(100vh - 45px - (30px - 15px)); // viewport height minus header height minus (links banner - border)
  border: 15px solid $sunny-gold;
  background-size: cover !important;
}

.sun-image {
  position: absolute;
  top: calc(45px + 15px + 40px); // = header height + border + 40px
  left: calc(15px + 20px); // = border + 20px
}

.moon-image {
  position: absolute;
  top: calc(45px + 15px + 40px); // = header height + border + 40px
  right: calc(15px + 20px); // = border + 20px
}

.product-links {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: $sunny-gold;
  padding: 0 15px;

  a {
    @extend .typo-product-link;
    color: $white;
    text-decoration: none;

    &:hover, &:focus {
      color: $text-primary-color !important;
    }
  }
}
