@import "src/style/colors";
@import "src/style/typography";

.product-page {
  position: absolute;
  top: 45px;
  height: calc(100% - 45px);
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.white-overlay {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  background-color: white;
  height: 100%;
  opacity: 0.95;
}

.foreground {
  z-index: 0;
}

.product-image-wrapper {
  max-width: 60%;
}

.product-image {
  width: 100%;
  border: 10px solid #d4c36c;
  cursor: pointer;
}

.product-title {
  @extend .typo-product-title;
}

.product-subtitle {
  @extend .typo-product-subtitle;
}

.dot-separator {
  line-height: 0;
  font-size: 26px;
  padding-left: 2px;
  position: relative;
  bottom: -6px;
}

.product-name, .product-price, .product-description {
  cursor: pointer;
}
