<!-- White overlay while loading -->
<div class="white-overlay" [hidden]="showProduct"></div>

<div class="product-page pb-4" [hidden]="!showProduct" [ngClass]="isSunProduct ? 'sun-product' : 'moon-product'">

  <!-- White overlay that closes the product page when clicked -->
  <div class="white-overlay" (click)="onOverlayClicked()"></div>

  <!-- Flex separator - no other effect -->
  <div class="flex-separator"></div>

  <!-- Sun image -->
  <div class="sun-image foreground m-4" *ngIf="isSunProduct">
    <a [href]="sunMoonURL">
      <img src="assets/sun-light.svg" alt="Image: the sun">
    </a>
  </div>

  <!-- Moon image -->
  <div class="moon-image foreground m-4" *ngIf="!isSunProduct">
    <a [href]="sunMoonURL">
      <img src="assets/moon-light.svg" alt="Image: the moon">
    </a>
  </div>

  <!-- Product image and info -->
  <div class="product-image-wrapper foreground">

    <!-- Product image -->
    <img class="product-image" [src]="product.imageUrlMobile" alt="Product image" (click)="goToProductPage()" (load)="onImageLoaded()">

    <!-- Product name, price and description -->
    <div class="product-info foreground text-center pt-3 pb-5">
      <div class="product-title">
        <span class="product-name" (click)="goToProductPage()">{{ product.name }}</span>
      </div>
      <div class="product-subtitle">
        <span class="product-price mr-1" *ngIf="product.price" (click)="goToProductPage()">{{ product.price }} EUR</span>
        <span class="dot-separator mr-1" *ngIf="product.price">•</span>
        <span class="product-description" (click)="goToProductPage()">{{ product.description }}</span>
      </div>
    </div>
  </div>

  <!-- Flex separator - no other effect -->
  <div class="flex-separator"></div>

</div>
