@import "src/style/colors";
@import "src/style/typography";

.product-image {
  border: 15px solid #d4c36c;
  width: 100%;
  min-height: calc(100vh - 45px - 15px); // viewport height minus header height minus bottom fixed bar
  margin-bottom: 15px;
  object-fit: cover;
}

.top-border {
  position: fixed;
  top: 45px; // header height
  width: 100%;
  height: 15px;
  background: $sunny-gold;
}

.product-links {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: $sunny-gold;
  padding: 0 15px;

  a {
    @extend .typo-product-link;
    color: $white;
    text-decoration: none;

    &:hover, &:focus {
      color: $text-primary-color !important;
    }
  }
}
