@import "src/style/colors";
@import "src/style/typography";

.product-page {
  position: fixed;
  top: 45px;
  height: calc(100% - 45px);
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.white-overlay {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  background-color: white;
  height: 100%;
  opacity: 0.95;
}

.foreground {
  z-index: 0;
}

.product-image-wrapper {
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 70px;
}

.product-image {
  width: 100%;
  height: 100%;
  border: 10px solid #d4c36c;
  cursor: pointer;
}

.product-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 16px;
}

.product-title {
  @extend .typo-product-title;
}

.product-subtitle {
  @extend .typo-product-subtitle;
}

.dot-separator {
  line-height: 0;
  font-size: 26px;
  padding-left: 2px;
  position: relative;
  bottom: -6px;
}

.product-name, .product-price, .product-description {
  cursor: pointer;
}

// Screens with very small height (e.g. phone in landscape view)

@media screen and (max-height: 700px) {
  .sun-image img, .moon-image img {
    max-height: 10vh;
  }
}

@media screen and (max-height: 500px) {
  .sun-image img {
    max-height: 80px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .moon-image img {
    max-height: 80px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-height: 500px) and (max-width: 450px) {
  .sun-image img, .moon-image img {
    display: none;
  }
}
