<div class="product-page" *ngIf="product" [ngClass]="isSunProduct ? 'sun-product' : 'moon-product'">

  <div class="top-border"></div>

  <!-- Product image -->
  <div class="product-image-wrapper">
    <img class="product-image" [src]="product.imageUrlMobile" alt="Product image">
  </div>

  <!-- Links -->
  <div class="product-links d-flex justify-content-between align-items-center">
    <!-- Back link -->
    <a href="javascript:void(0);" (click)="onBackButtonClicked()">BACK TO THE TREE</a>

    <!-- See more link -->
    <a [href]="product.productPageLink">SEE MORE</a>
  </div>

</div>
