<div class="d-flex justify-content-center align-items-center align-items-3xl-end my-5">

  <!-- Left part: Slogan -->
  <div id="slogan" class="left-part d-flex justify-content-center align-self-center">
    <img src="assets/texts/slogan-dark.svg" alt="Slogan: spiritualiser le matériel, matérialiser le spirituel">
  </div>

  <!-- Center part: Door logo -->
  <div id="door-symbol" class="center-part d-flex justify-content-center">
    <img src="assets/door-symbol-light.png" alt="Metta symbol">
  </div>

  <!-- Right part -->
  <div class="right-part d-flex flex-column justify-content-between text-right">

    <!-- Legal info -->
    <app-legal-info></app-legal-info>

    <!-- Subscribe to newsletter -->
    <app-newsletter-form></app-newsletter-form>

    <!-- Images: Look up and Metta signature -->
    <div class="d-flex justify-content-end">

      <!-- Look up -->
      <div id="footer-look-up" class="d-flex">
        <img src="assets/texts/look-up-large-light.svg" alt="Look up">
      </div>

      <!-- Metta signature -->
      <div id="metta-signature" class="mb-5">
        <img src="assets/texts/metta-signature-dark.svg" alt="Metta signature">
      </div>

    </div>

    <!-- Contact info -->
    <app-contact-links></app-contact-links>

    <!-- Copyright -->
    <app-copyright></app-copyright>

    <!-- Legal links -->
    <app-legal-links></app-legal-links>

  </div>

</div>

