@import "src/style/colors";
@import "src/style/variables";
@import "~bootstrap/scss/mixins";

#dot {
  height: 16px;
  width: 16px;
  background: $dot-color;
  border-radius: 50%;
  border: none;

  &:hover, &:focus {
    background: rgb(220, 206, 135) !important;
    box-shadow: 0 0 4px 2px rgb(220, 206, 135);
  }

  @include media-breakpoint-down('md') {
    height: 12px;
    width: 12px;
  }
}
