@import "src/style/typography";

.footer-left-part {
  position: absolute;
  left: 80px;
}

.footer-right-part {
  position: absolute;
  right: 80px;
}

#footer-content {
  height: 748px; // Same height as Door logo
  width: 32%;
}

#footer-look-up {
  margin-top: -35px;
  margin-bottom: -25px;
  margin-right: 66px;
}

#metta-signature {
  margin-top: 35px;
}
