@import "src/style/typography";

.footer-left-part {
  position: absolute;
  left: 25px;
}

.footer-right-part {
  position: absolute;
  right: 25px;
}

#footer-content {
  @extend .typo-footer;
  width: 35%;
}

#footer-look-up {
  margin-top: -45px;
  margin-right: 120px;
}
