@import "src/style/typography";

.footer-left-part {
  position: absolute;
  left: 25px;
}

.footer-right-part {
  position: absolute;
  right: 25px;
}

#footer-content {
  width: 35%;
}

#footer-look-up {
  margin-top: -35px;
  margin-right: 66px;
}

#metta-signature {
  margin-top: 35px;
}
