<div class="d-flex justify-content-center align-items-center">

  <!-- Slogan -->
  <div id="slogan" class="footer-left-part">
    <img src="assets/texts/slogan-dark.svg" alt="Slogan: spiritualiser le matériel, matérialiser le spirituel">
  </div>

  <!-- Door logo -->
  <div id="door-symbol" class="footer-center-part">
    <img src="assets/door-symbol-light.png" alt="Metta symbol">
  </div>

  <!-- Footer content -->
  <div id="footer-content" class="footer-right-part">
    Footer content
  </div>

</div>
