.footer-left-part {
  position: absolute;
  left: 25px;
}

.footer-right-part {
  position: absolute;
  right: 25px;
}

#footer-content { // TODO add correct typography
  width: 30%;
}

#footer-look-up {
  margin-top: -40px;
}
