<div class="d-flex justify-content-center align-items-center">

  <!-- Slogan -->
  <div id="slogan" class="footer-left-part">
    <img src="assets/texts/slogan-dark.svg" alt="Slogan: spiritualiser le matériel, matérialiser le spirituel">
  </div>

  <!-- Door logo -->
  <div id="door-symbol" class="footer-center-part">
    <img src="assets/door-symbol-light.png" alt="Metta symbol">
  </div>

  <!-- Footer content -->
  <div id="footer-content" class="footer-right-part d-flex flex-column justify-content-end text-right">

    <!-- Legal info -->
    <app-legal-info></app-legal-info>

    <!-- Subscribe to newsletter -->
    <app-newsletter-form></app-newsletter-form>

    <!-- Images: Look up and Metta signature -->
    <div class="d-flex justify-content-end">
      <div id="footer-look-up">
        <img src="assets/texts/look-up-large-light.svg" alt="Look up">
      </div>
      <div id="metta-signature">
        <img src="assets/texts/metta-signature-dark.svg" alt="Metta signature">
      </div>
    </div>

    <!-- Contact info -->
    <app-contact-links></app-contact-links>

    <!-- Copyright -->
    <app-copyright></app-copyright>

    <!-- Legal links -->
    <app-legal-links></app-legal-links>

  </div>

</div>
