@import "src/style/colors";
@import "src/style/typography";

.legal-link {
  @extend .typo-footer-link;
  color: $text-primary-color !important;
  text-decoration: none;

  &:hover {
    color: $sunny-gold !important;
  }
}
