<div id="legal-info">
  <p>
    All contents of this website are the property of METTA S.A.S.<br>
    No part of this site, including all text and images, may be reproduced in any form without the prior
    consent of METTA S.A.S.
  </p>
  <p>
    METTA S.A.S is an independent brand owned and managed by Ludovic and Claire Angevin.
  </p>
  <p>
    Submit your email address to be kept informed of upcoming releases and to have access to cultural content
    related to clothing, its philosophy, its history and its craftsmanship.
  </p>
</div>
