// Variables (including Bootstrap overrides), then Bootstrap
@import "style/variables";
@import "~bootstrap/scss/bootstrap";

// Application theme
@import "style/fonts";
@import "style/typography";
@import "style/colors";

// Global styles

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  @extend .typo-main;
  background-color: $background-plain-color;
  color: $text-primary-color;
  min-width: 350px;
  overflow: auto;
}

// Hide arrow from a dropdown
.no-dropdown-arrow {
  &[ngbDropdownToggle]:after, &[ngbDropdownAnchor]:after {
    display: none;
  }
}

