<!-- Fixed banners - Desktop only -->
<div class="fixed-banner fixed-top d-none d-lg-block"></div>
<div class="fixed-banner fixed-bottom d-none d-lg-block"></div>

<!-- Fixed cart link - Desktop only -->
<a id="cart-link" class="d-none d-lg-block" href="#" title="Open my cart">CART</a>

<!-- App content -->
<div id="app-wrapper">

  <!-- Header -->
  <div class="app-header">
    <app-header (toggleDot)="onToggleDot($event)"></app-header>
  </div>

  <!-- Dot expanded -->
  <ng-container *ngIf="isDotExpanded">

    <!-- Dot content  -->
    <div class="app-body dot-content d-lg-flex justify-content-center align-items-center p-lg-5">
      <app-dot-page></app-dot-page>
    </div>

  </ng-container>

  <!-- Dot collapsed -->
  <ng-container *ngIf="!isDotExpanded">

    <!-- Main content - Desktop -->
    <div class="app-body main-content d-none d-lg-flex justify-content-center align-items-center p-4">
      <app-tree-page></app-tree-page>
    </div>

    <!-- Main content - Mobile -->
    <div *ngIf="!openProduct" class="app-body main-content d-flex d-lg-none justify-content-center align-items-center p-4">
      <app-tree-page (openProduct)="onOpenProduct($event)"></app-tree-page>
    </div>

    <!-- Product page - Mobile only -->
    <div *ngIf="openProduct" id="product-page" class="app-body d-flex d-lg-none">
      <app-product-page [product]="openProduct" [isSunProduct]="isOpenProductSunProduct" (backButtonClicked)="onBackToHome()"></app-product-page>
    </div>

  </ng-container>

</div>

<!-- Debug area -->
<app-responsive-debug [debugMode]="false"></app-responsive-debug>
