<!-- Hint modal -->
<ng-template #hint let-modal>

  <!-- Close icon -->
  <div class="modal-header border-0 d-flex justify-content-end p-1">
    <mat-icon class="d-flex justify-content-center align-items-center close-icon" (click)="modal.dismiss()">close</mat-icon>
  </div>

  <!-- Metta logo -->
  <div class="metta-logo mt-3">
    <img src="assets/metta-logo-dark.svg" alt="Metta logo">
  </div>

  <!-- Modal text -->
  <div class="modal-body">
    DISCOVER OUR <span class="strong">ESSENCE</span><br>
    AND <span class="strong">LIFE GARMENTS</span><br>
    BY CLICKING ON THE LEAVES.
  </div>

  <!-- Leave images -->
  <div class="leaves mb-4">
    <img src="assets/tree/leaves/leaf-004prime-light.svg" alt="leaf" class="mr-3">
    <img src="assets/tree/leaves/leaf-006-dark.svg" alt="leaf">
  </div>

</ng-template>
