<!-- Hint modal -->
<ng-template #hint let-modal>

  <!-- Close icon -->
  <div class="modal-header border-0 d-flex justify-content-end p-1">
    <mat-icon class="d-flex justify-content-center align-items-center close-icon" (click)="modal.dismiss()">close</mat-icon>
  </div>

  <!-- Metta logo -->
  <div class="metta-logo mt-3">
    <img src="assets/metta-logo-dark.svg" alt="Metta logo">
  </div>

  <!-- Modal text -->
  <div class="modal-body mb-4">
    DISCOVER OUR ESSENCE<br>
    AND LIFE GARMENTS<br>
    BY CLICKING ON THE LEAVES.
  </div>

</ng-template>
