<div class="px-3 py-5 mb-5">

  <!-- Dot menu -->
  <div class="d-block">
    <app-dot-menu></app-dot-menu>
  </div>

  <!-- Door logo -->
  <div id="door-symbol" class="d-flex justify-content-center mb-5">
    <img src="assets/door-symbol-light.png" alt="Metta symbol" width="175">
  </div>

  <!-- Legal info -->
  <app-legal-info></app-legal-info>

  <!-- Metta signature -->
  <div id="metta-signature" class="my-5 text-right">
    <img src="assets/texts/metta-signature-dark.svg" alt="Metta signature" width="150">
  </div>

  <!-- Legal links -->
  <div class="mb-3">
    <app-legal-links [mobileVariant]="true"></app-legal-links>
  </div>

  <!-- Contact info -->
  <app-contact-links [showSocialNetworkLinks]="false"></app-contact-links>

  <!-- Copyright -->
  <app-copyright></app-copyright>

</div>

<!-- Subscribe to newsletter - fixed to bottom -->
<div id="fixed-newsletter-form" class="d-flex justify-content-center">
  <app-newsletter-form></app-newsletter-form>
</div>


