<div class="coming-soon-page">

  <!-- Dot -->
  <div class="coming-soon-dot">
    <img src="assets/coming-soon/coming-soon-dot.svg" alt="The dot">
  </div>

  <!-- Sun -->
  <div class="coming-soon-sun">
    <img src="assets/coming-soon/coming-soon-sun.svg" alt="The sun">
  </div>

  <!-- Moon -->
  <div class="coming-soon-moon">
    <img src="assets/coming-soon/coming-soon-moon.svg" alt="The moon">
  </div>

  <!-- Tree -->
  <div class="coming-soon-tree">
    <img src="assets/coming-soon/coming-soon-tree.svg" alt="The tree" (resized)="onTreeResize($event)">
  </div>

  <!-- Dropping leaf -->
  <div class="dropping-leaf"
       [style.bottom]="leafYFromBottom + 'px'"
       [style.left]="'calc(50% + ' + leafXFromCenter + 'px)'"
       [@droppingLeaf]="isLeafDropping ? 'bottom' : 'top'"
  >
    <img class="dropping-leaf-img" src="assets/coming-soon/coming-soon-leaf-large.svg" alt="A leaf drops from the tree">
  </div>

  <!-- Averroes quote - Large -->
  <div class="averroes-quote d-none d-2xl-block" *ngIf="!shouldDisplayForm">
    <img src="assets/coming-soon/coming-soon-quote-large.svg" width="210"
         alt="L'aveugle se détourne de la fosse où le clairvoyant se laisse tomber - Averroès"
         [@fadeInQuote]="isLeafDropping ? 'shown' : 'hidden'">
  </div>

  <!-- Averroes quote - Medium -->
  <div class="averroes-quote d-none d-lg-block d-2xl-none" *ngIf="!shouldDisplayForm">
    <img src="assets/coming-soon/coming-soon-quote-medium.svg" width="230"
         alt="L'aveugle se détourne de la fosse où le clairvoyant se laisse tomber - Averroès"
         [@fadeInQuote]="isLeafDropping ? 'shown' : 'hidden'">
  </div>

  <!-- Averroes quote - Small -->
  <div class="averroes-quote d-flex d-lg-none align-items-center" *ngIf="!shouldDisplayForm">
    <img src="assets/coming-soon/coming-soon-quote-small.svg"
         alt="L'aveugle se détourne de la fosse où le clairvoyant se laisse tomber - Averroès"
         [@fadeInQuote]="isLeafDropping ? 'shown' : 'hidden'">
  </div>

  <!-- Overlay before form submit -->
  <div class="coming-soon-overlay" *ngIf="shouldDisplayForm"></div>

  <!-- Page content -->
  <div class="coming-soon-content d-flex flex-column justify-content-center align-items-center" *ngIf="shouldDisplayForm">

    <!-- Door image -->
    <div class="door-symbol mb-5">
      <img src="assets/coming-soon/coming-soon-door-large.svg" alt="Door symbol">
    </div>

    <!-- Coming soon text -->
    <div class="coming-soon-text mb-1">
      <p class="coming-soon-quote">
        "We believe that garment as a work of art can be a vessel for symbolism."
      </p>
      <p class="coming-soon-presentation">
        METTA<img class="circled-r" src="assets/coming-soon/circled-R.svg" alt="Registered trademark">
        is an independent garment craft company owned and managed in France.
      </p>
      <p class="coming-soon-presentation">
        Please submit your email address to have an early access to the upcoming releases and storytelling videos.
      </p>
      <p class="coming-soon-presentation">
        Launch in September 2022.
      </p>
    </div>

    <!-- Email subscription form -->
    <div class="coming-soon-form">
      <app-newsletter-form-coming-soon (submitSuccess)="onFormSubmitSuccess()"></app-newsletter-form-coming-soon>
    </div>

  </div>

</div>

<!-- Debug area -->
<app-responsive-debug [debugMode]="false"></app-responsive-debug>
